{% extends 'base.html.twig' %}

{% block title %}Habitation index{% endblock %}

{% block body %}
    <h1>Habitation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for habitation in habitations %}
            <tr>
                <td>{{ habitation.id }}</td>
                <td>{{ habitation.nom }}</td>
                <td>
                    <a href="{{ path('habitation_show', {'id': habitation.id}) }}">show</a>
                    <a href="{{ path('habitation_edit', {'id': habitation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('habitation_new') }}">Create new</a>
{% endblock %}
